
main{
    max-width: 60%;
    width: 54%;
    max-height: 500px;
    min-height: 350px;
    margin: auto;
}
#image{
    width: 100%;
    max-height: 500px;
    min-height: 350px;

}

article{
    display: flex;
    height: 10px;
    line-height: 0px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
  justify-content: center;
  /* background-color: black; */
  
}
h1{
    margin-right:15px;

}
a{
    height: 0px;
}